/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-site-blocks>.wp-block-talkwave-layout {
	padding: 8px;
	padding-bottom: 94px;
	box-sizing: border-box;
}

@media (min-width: 992px) {
	.wp-site-blocks>.wp-block-talkwave-layout {
		display: grid;
		gap: 12px;
		grid-template-areas:
			"header header"
			"sidebar main";
		grid-template-columns: auto 1fr;
		grid-template-rows: auto 1fr;
		height: 100vh;

		>header {
			grid-area: header;
		}

		>aside {
			width: 272px;
			grid-area: sidebar;
		}

		>.wp-block-group {
			grid-area: main;
			overflow-y: scroll;
		}
	}

	.logged-in .wp-site-blocks>.wp-block-talkwave-layout {
		height: calc(100vh - 32px);
	}
}