/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-talkwave-episodes {
	.episode-grid {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
	}

	.episode-item {
		border-radius: 8px;
        padding: 12px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
	}

	.episode-title {
		font-size: 1rem;
	}

	.image-wrapper {
		position: relative;
		transition: box-shadow 0.3s ease;

		img {
			display: block;
			width: 100%;
			height: auto;
			border-radius: 4px;
			transition: opacity 0.3s ease;
		}

		.image-overlay {
			position: absolute;
			inset: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.talkwave-button--play,
		.talkwave-button--pause,
		.loader {
			width: 56px;
			height: 56px;
			opacity: 0;
			transition: opacity 0.3s ease;
		}

		&:hover {
			box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

			.series-image {
				opacity: 0.8;
			}

			.talkwave-button--play,
			.talkwave-button--pause {
				opacity: 1;
			}
		}
	}

	.episode-list {
		.episode-item {
			display: flex;

			.image-wrapper img {
				max-width: 160px;
			}

			.episode-content {
				flex-grow: 1;
				margin-left: 16px;
			}
		}
	}
}