/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-talkwave-episodes {
	margin: 0 -12px;

	.episode-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		.episode-title a {
			display: -webkit-box;
			overflow: hidden;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
	}

	.episode-item {
		border-radius: 8px;
		padding: 12px;

		&:hover {
			background-color: var(--wp--preset--color--mist);
		}
	}

	.episode-title {
		font-weight: normal;
		font-size: 1rem;
	}

	.image-wrapper {
		position: relative;
		transition: box-shadow 0.3s ease;

		img {
			display: block;
			width: 100%;
			height: auto;
			border-radius: 4px;
			transition: opacity 0.3s ease;
		}

		.image-overlay {
			position: absolute;
			inset: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.talkwave-button--play,
		.talkwave-button--pause,
		.loader {
			width: 56px;
			height: 56px;
			opacity: 0;
			transition: opacity 0.3s ease;
		}

		&:hover {
			box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

			.series-image {
				opacity: 0.8;
			}

			.talkwave-button--play,
			.talkwave-button--pause {
				opacity: 1;
			}
		}
	}

	.episode-list {
		.episode-item {
			display: flex;

			.image-wrapper img {
				max-width: 160px;
			}

			.episode-content {
				flex-grow: 1;
				margin-left: 16px;
			}
		}
	}

	.podcast-item {
		display: flex;
		margin-bottom: 4rem;

		.podcast-image-wrapper {
			flex-shrink: 0;

			img {
				max-width: 256px;
			}
		}

		.podcast-content {
			flex-grow: 1;
			margin-left: 48px;
		}

		.podcast-title {
			margin-top: 0;
		}

		.talkwave-button {
			padding: 12px 24px;
			border-radius: 9999px
		}
	}

	@media (min-width: 768px) {
		.episode-grid {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	@media (min-width: 992px) {
		.episode-grid {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	@media (min-width: 1200px) {
		.episode-grid {
			grid-template-columns: repeat(5, 1fr);
		}
	}
}