/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-talkwave-recently-played {
	.recently-played-episode {
		position: relative;
		display: flex;
		align-items: center;
		padding: 4px 64px 4px 8px;
		border-radius: 8px;
		transition: background-color 0.3s ease;

		.talkwave-button--play,
		.talkwave-button--pause,
		.loader {
			position: absolute;
			top: 50%;
			right: 8px;
			width: 32px;
			height: 32px;
			margin-top: -16px;
			opacity: 0;
			transition: opacity 0.3s ease;
		}

		&:hover {
			background-color: var(--wp--preset--color--mist);

			.talkwave-button--play,
			.talkwave-button--pause {
				opacity: 1;
			}
		}
	}

	.image-wrapper {
		flex-shrink: 0;

		img {
			display: block;
			max-width: 48px;
			height: auto;
			border-radius: 50%;
			transition: opacity 0.3s ease;
		}
	}

	.episode-content {
		flex-grow: 1;
		max-width: 100%;
		margin-left: 16px;

		.episode-title {
			font-size: 0.75rem;
			font-weight: normal;

			a {
				display: -webkit-box;
				overflow: hidden;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
			}
		}
	}
}