.wp-block-navigation {
    &__responsive-container-open {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: var(--wp--preset--color--primary);
        color: var(--wp--preset--color--foreground);
    }
}